set security policy "{{ source }} to {{ destination }}" from {{ source_zone }} to {{ destination_zone }} source {{ source }} destination {{ destination }} applciation {{ app }} protocol {{ protocol }} port {{ port }} action {{ action }};
